n8n-workflow.json
{
  "name": "LinkedIn Post Agent",
  "nodes": [
    {
      "parameters": {
        "content": "### LinkedIn Post Agent\n\n**Flow 1:** Upload documenten → vectorize → Supabase\n**Flow 2:** Chat → Claude agent → kennisbank → LinkedIn post\n\n**Quick start:**\n1. Activeer de workflow\n2. Open de Form URL → upload documenten\n3. Open de Chat URL → vraag om een LinkedIn post\n\n**Credentials nodig:**\n- Supabase API (project URL + service role key)\n- OpenAI API (voor embeddings)\n- Anthropic API (voor Claude chat model)",
        "height": 322,
        "width": 480,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [160, 100],
      "id": "b5f7e8a1-0001-4a00-b000-000000000001",
      "name": "Readme"
    },
    {
      "parameters": {
        "content": "### 1. Data Laden Flow\nDocumenten uploaden → chunken → embedden → opslaan in Supabase",
        "height": 80,
        "width": 500,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [380, 300],
      "id": "b5f7e8a1-0002-4a00-b000-000000000002",
      "name": "Flow 1 Label"
    },
    {
      "parameters": {
        "content": "### 2. Chat Agent Flow\nChat input → Claude agent → kennisbank raadplegen → LinkedIn post genereren",
        "height": 80,
        "width": 540,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1100, 300],
      "id": "b5f7e8a1-0003-4a00-b000-000000000003",
      "name": "Flow 2 Label"
    },
    {
      "parameters": {
        "content": "### Embeddings\nInsert en Retrieve gebruiken DEZELFDE embedding node.\n**Model:** text-embedding-3-small (1536 dim)\n\nDit MOET matchen met de Supabase vector kolom dimensie.",
        "height": 160,
        "width": 400,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [680, 840],
      "id": "b5f7e8a1-0004-4a00-b000-000000000004",
      "name": "Embeddings Note"
    },
    {
      "parameters": {
        "formTitle": "Upload documenten naar je LinkedIn kennisbank",
        "formDescription": "Upload je documenten om je LinkedIn kennisbank te vullen. Ondersteunde formaten: PDF, CSV, TXT, MD, DOCX.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Upload je bestand(en)",
              "fieldType": "file",
              "acceptFileTypes": ".pdf,.csv,.txt,.md,.docx",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [420, 460],
      "id": "b5f7e8a1-1001-4a00-b000-000000000011",
      "name": "Upload je documenten",
      "webhookId": "linkedin-upload"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "documents"
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [760, 460],
      "id": "b5f7e8a1-1002-4a00-b000-000000000012",
      "name": "Upload naar Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file-name",
                "value": "={{ $json['Upload je bestand(en)'][0].filename }}"
              },
              {
                "name": "upload-date",
                "value": "={{ $now.toISO() }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [600, 660],
      "id": "b5f7e8a1-1003-4a00-b000-000000000013",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 1000,
        "chunkOverlap": 200
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [400, 660],
      "id": "b5f7e8a1-1004-4a00-b000-000000000014",
      "name": "Text Splitter"
    },
    {
      "parameters": {
        "model": "text-embedding-3-small"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [800, 700],
      "id": "b5f7e8a1-2001-4a00-b000-000000000021",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [1140, 460],
      "id": "b5f7e8a1-3001-4a00-b000-000000000031",
      "name": "Chat Trigger",
      "webhookId": "linkedin-chat"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Je bent een expert LinkedIn ghostwriter en content strategist. Je schrijft LinkedIn posts in de stijl en tone-of-voice van de gebruiker.\n\n## Jouw rol\nJe helpt de gebruiker met het schrijven van krachtige, engaging LinkedIn posts. Je gebruikt de documenten in je kennisbank (via de vector store tool) om:\n- De juiste tone-of-voice te hanteren\n- Bewezen virale structuren en hooks toe te passen\n- Inhoudelijke expertise te tonen op basis van de opgeslagen kennis\n- Best practices voor LinkedIn content toe te passen\n\n## Hoe je werkt\n1. **Altijd eerst de kennisbank raadplegen** — Gebruik de vector store tool om relevante context op te halen voordat je een post schrijft\n2. **Tone-of-voice matchen** — Pas de schrijfstijl aan op basis van de voorbeelden in de kennisbank\n3. **Structuur toepassen** — Gebruik bewezen LinkedIn post-formats: hook → story/value → CTA\n4. **Concreet en specifiek** — Vermijd vage uitspraken, gebruik cijfers, voorbeelden, en persoonlijke ervaringen\n\n## LinkedIn Post Regels\n- **Hook**: De eerste 2-3 regels moeten de lezer stoppen met scrollen. Gebruik een pattern interrupt, controversiële stelling, of verrassend feit\n- **Formatting**: Korte alinea's (1-2 zinnen), witregels tussen alinea's, geen muren van tekst\n- **Lengte**: Standaard 800-1200 karakters tenzij anders gevraagd\n- **CTA**: Sluit af met een vraag of call-to-action die engagement uitlokt\n- **Taal**: Schrijf in het Nederlands tenzij anders gevraagd\n- **Emoji**: Spaarzaam, alleen waar het waarde toevoegt\n- **Hashtags**: Max 3-5 relevante hashtags onderaan\n\n## Output Format\nAls je een LinkedIn post schrijft, geef dan:\n1. De volledige post, klaar om te kopiëren\n2. Korte toelichting waarom je deze aanpak koos\n3. Optioneel: 1-2 alternatieve hooks\n\n## Wat je NIET doet\n- Geen generieke corporate taal\n- Geen 'thought leader' clichés zonder inhoud\n- Geen posts zonder duidelijke waarde voor de lezer\n- Niet liegen of feiten verzinnen"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [1420, 460],
      "id": "b5f7e8a1-3002-4a00-b000-000000000032",
      "name": "LinkedIn Post Agent"
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-20250514",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [1220, 680],
      "id": "b5f7e8a1-3003-4a00-b000-000000000033",
      "name": "Claude Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Doorzoek de LinkedIn kennisbank. Bevat tone-of-voice guides, virale post templates, hooks, content strategieën, en voorbeeldposts. Gebruik dit ALTIJD voordat je een LinkedIn post schrijft om de juiste stijl en structuur toe te passen.",
        "tableName": "documents",
        "topK": 5
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [1420, 680],
      "id": "b5f7e8a1-3004-4a00-b000-000000000034",
      "name": "Kennisbank",
      "credentials": {
        "supabaseApi": {
          "id": "",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [1620, 680],
      "id": "b5f7e8a1-3005-4a00-b000-000000000035",
      "name": "Chat Memory"
    },
    {
      "parameters": {
        "model": "text-embedding-3-small"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [1420, 880],
      "id": "b5f7e8a1-3006-4a00-b000-000000000036",
      "name": "Embeddings OpenAI (Retrieve)",
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAI API"
        }
      }
    }
  ],
  "connections": {
    "Upload je documenten": {
      "main": [
        [
          {
            "node": "Upload naar Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Upload naar Supabase",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Upload naar Supabase",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "LinkedIn Post Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "LinkedIn Post Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Kennisbank": {
      "ai_tool": [
        [
          {
            "node": "LinkedIn Post Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "LinkedIn Post Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI (Retrieve)": {
      "ai_embedding": [
        [
          {
            "node": "Kennisbank",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
